[data-testid= "stHeader"]{
    display: none;
}

h3{
    color: #000;
}

[data-testid = 'stForm'] {
    border-radius: 15px;
    background-color: #F5F7FA;
    border: none;
    box-shadow:  1px 1px 4px #d0d0d0,
              -1px -1px 10px #f0f0f0;
 }


 textarea[aria-label='Summary to analyse']{
    border: none;
    background-color: rgba(105,105,105,0.5);
    /* box-shadow:  1px 1px 4px #d0d0d0,
              -1px -1px 10px #f0f0f0; */
 }


 
 button[kind='secondaryFormSubmit']{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }

 [data-testid='stMarkdown']{
    color: #000;
 }

 [data-testid='stMarkdownContainer']{
    color: #000;
 }
 